{%extends 'base.html'%}
{%block content%}
<div class="row justify-content-center">
  <div class="col-md-5 p-5">
    <div class="card">
      <div class="card-header">
        Score: {{score.points}}
      </div>
      <div class="card-body">
        <p>
          <form method="post" action="{% url 'polls:quiz_multiple' %}">
            {% csrf_token %}

            {%for result in results%}
              <div>
                Category: {{result.category}}
                Answer: {{ result.correct_answer}}
              </div>
              <br><br>
              <input type="hidden" name="question" value="{{result.question}}">
              {%if not is_post %}
                <p>Question: </p>
              {% endif %}
              {{result.question|safe}} 
            {%endfor%}

              <br><br>

              <div class="card" style="width: 18rem;">
                {% for answer in answers %}
                  <p class='text-start m-2 p-2'>
                    <input type="radio" class="form-check-input" required name="user_answer" value="{{answer}}" id="answer">
                    <label class="form-check-label" for="answer">{{answer|safe}}</label>
                  </p>
                  
                {%endfor%}
              </div>
              <br><br>
              {%if is_post %}
              Right answer was: {{correct_answer|safe}}<br>
              {% endif %}
              
              <br><br>
              {%if is_post %} 
              {%if is_right_answered %} 
                <a class="btn btn-success" href="{%url 'polls:quiz_multiple'%}" role="button">Next</a> 
              {%else%}
                <a class="btn btn-danger" href="{%url 'polls:quiz_multiple'%}" role="button">Next</a>
              {%endif%}
              
              {%else%} 
                <input class="btn btn-secondary" type="submit"  value="Send">
              {%endif%}
            
          </form> 
        </p>
      </div> <!-- card body -->
    </div> <!-- card -->
  </div> <!-- col -->
</div> <!-- row -->
{% endblock %}
