{% load static %} 

<nav class="navbar navbar-light" style="background-color:{%if status == 'Amateur'%} #20a997{%elif status == 'PRO'%} #cc4545{%elif status == 'BEST'%} #adb5bd{%else%}lightskyblue{%endif%}">
  <div class="container">
    <a class="navbar-brand" href="">
      <span style="color:blue">Pools</span>
    </a>
    {% with request.resolver_match.view_name as view_name %}

    {% if user.is_authenticated %}
      <div class="bg text-dark text-left">
        Welcome to Polls, <span style="color:red">{{ user.username }}</span>!
      </div>
      <div class="bg text-dark text-center">
          {% if view_name  == 'users:login' or view_name  == 'users:signup'  %}
          {%else%} Your score: <span style="color:red">{{score.points}}</span>{%endif%}
      </div>
      <div class="bg text-dark text-right">
        Your status:  <span style="color:red">{{ status }}</span>
      </div>
    {%endif%}
      
    {% endwith %}

    {% with request.resolver_match.view_name as view_name %}

    <ul class="nav nav-pills">
      <li class="nav-item"> 
        <a class="nav-link link-light {% if view_name  == 'polls:index' %}active{% endif %}" href="{% url 'polls:index' %}">Home</a>
      </li>
    
    <ul class="nav nav-pills">
      <li class="nav-item"> 
        <a class="nav-link link-light {% if view_name  == 'polls:top' %}active{% endif %}" href="{% url 'polls:top' %}">Dashboard</a>
      </li>

      {% if user.is_authenticated %}
        <ul class="nav nav-pills">
          <li class="nav-item"> 
            <a class="nav-link link-light {% if view_name  == 'polls:upgrade' %}active{% endif %}" href="{% url 'polls:upgrade' %}">Upgrade</a>
          </li>
        <ul class="nav nav-pills">
          <li class="nav-item"> 
            <a class="nav-link link-light {% if view_name  == 'polls:clean' %}active{% endif %}" href="{% url 'polls:clean' %}">Clean</a>
          </li>
        <li class="nav-item"> 
          <a class="nav-link link-light {% if view_name  == 'users:logout' %}active{% endif %}" href="{% url 'users:logout' %}">Log out</a>
        </li>

      {% else %}
        <li class="nav-item"> 
          <a class="nav-link link-light {% if view_name  == 'users:login' %}active{% endif %}" href="{% url 'users:login'%}">Log in</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light {% if view_name  == 'users:signup' %}active{% endif %}" href="{% url 'users:signup'%}">Sign up</a>
        </li>
      {% endif %}
      {% endwith %}
    </ul>
  </div>
</nav> 
